

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1.5rem 2rem;
  width: 100%;
  z-index: 10;
  background-color: rgb(24, 23, 23);

  .logo {
    display: flex;
    border: 4px solid white;
    letter-spacing: 4px;
    gap: 2px;
    text-decoration: none;


    .left {
      background: white;
      color: black;
    }

    .right {
      color: white;
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    
    
    .search-bar {
      display: flex;
      align-items: center;
      font-size: .9rem;
      gap: .5rem;
      padding: .7rem .9rem;
      background-color: #fff;
      border-radius: 2rem;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

    }


    .search {
      outline: none;
      border: none;
      font-weight: 500;
      transition: width 0.8s;
      background-color: transparent;
      width: 300px;
      font-size: 1rem;
    }

    .search:focus {
      width: 500px;
    }

    img {
      width: 20px;
      cursor: pointer;
    }

    .filtered-search-container {
      position: absolute;
      margin-top: 2.8rem;
      background-color: white;
      border-radius: 1rem;

      .item-container {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        cursor: pointer;
        border-radius: 1rem;

        .link {
          display: flex;
          text-decoration: none;
          color: black;
          gap: 1rem;
          
          h2 {
            font-size: 1rem;
          }

          p {
            font-size: .9rem;
          }
        }

    img {
      width: 50px;
      height: auto;

      object-fit: contain;
    }

      }

      .item-container:hover {
        background-color: rgb(230, 216, 216);
        transition: .3s;
      }
    }
  }

  .words-container {
    display: flex;
    gap: 4rem;
    color: white;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    .cart-icon {
      width: 35px;
      cursor: pointer;
    }
    .cart-icon:hover {
      transform: scale(1.1);
      transition: .2s;
    }
  }
}